@use "variables/global";
@use "themes/light";
@use "themes/dark";
@use "reset";

.html {
    font-size: 62.5%;
 
    @media only screen and (max-width: 50em) { //800px
        font-size: 50%;
    }
}

.main_layout {
    height: 100vh;
    display: flex;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-bg-elevated);
    height: 100%;
}