.sidebar {
    max-width: 250px;
    width: 100%;
    transition: all 0.3s ease;
    background-color: yellow;
    min-width: 70px;
    position: relative;

}

.collapsed {
  max-width: 80px;
}

.button {
  z-index: 10000;
  position: absolute;
  right: -28px;
  bottom: 50px;
}