.app_dark_theme {
    --color-primary: #818cf8;
    --color-primary-hover: #6366f1;
    --color-secondary: #94a3b8;
  
    --color-bg: #0f172a;
    --color-bg-elevated: #1e293b;
    --color-bg-inverted: #f8fafc;
  
    --color-text: #f1f5f9;
    --color-text-secondary: #cbd5e1;
  
    --color-border: #334155;
  
    --color-success: #4ade80;
    --color-warning: #fde047;
    --color-error: #f87171;
}
